<%= link_to 'Add', new_project_requirement_path(@project.id) %>
<table>
  <thead>
  <th>Name</th>
  <th>Description</th>
  </thead>
  <tbody>
  <% @requirements.each do |requirement| %>
  <tr><td><%= requirement.name %></td><td><%= requirement.desc %></td></tr>
  <% end %>
  </tbody>
</table>