<div class="panel-body" id="profile">
  <div class="form-group">
    <p class="form-control-static" id="name"><%= @user.name || 'Edit name' %></p>
  </div>
  <div class="form-group">
    <p class="form-control-static" id="initials"><%= @user.initials %></p>
  </div>
</div>