<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">Profile</div>
    <div class="text-right">
      <%= link_to "Edit", edit_profile_path, remote: true %>
    </div>
  </div>
  <%= render 'show_profile' %>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div>Password</div>
  </div>
  <%= render 'edit_password' %>
</div>