<%
  text = 'This is list of projects for this company. You also can create a project via \'Add\' link.'
  add_link = link_to("Add", new_company_project_path(@company.id))
%>
<%= panel_with_table('projects', 'Projects', add_link, text) do %>
    <% if @projects.any? %>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <%= content_tag_for(:tr, @projects) do |project| %>
              <td>
                <a href="<%= company_project_path(project.company.id, project.id) %>"><%= project.name %></a>
              </td>
              <td>&nbsp;</td>
          <% end %>

          </tbody>
        </table>
    <% end %>
<% end %>
