<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">Company</div>
    <div class="text-right">
      <%= link_to "Edit", edit_company_path, remote: true %>
    </div>
  </div>
  <%= render 'show_profile' %>
</div>
