@import "bootstrap-sprockets";
@import "bootstrap";

.small-form {
  width: 300px;
}

.user_menu {
  @extend .nav;
  @extend .nav-pills;
  margin-top: 8px;
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
  }
  .caret {
    margin-top: 8px;
  }
}