@import "bootstrap-sprockets";
@import "bootstrap";

.small-form {
  width: 300px;
}

.user_menu {
  @extend .nav;
  @extend .nav-pills;
  margin-top: 8px;
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
  }
  .caret {
    margin-top: 8px;
  }
}

div.search-select {
  input {
    @extend .form-control;
    float: left;
    margin-right: -16px;
    width: 100%;
    padding-right: 16px;
  }
  .caret {
    margin-top: 14px;
  }
  .dropdown-menu {
    top: 85%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}