@import "bootstrap-sprockets";
@import "bootstrap";

.small-form {
  width: 300px;
}

.user_menu {
  @extend .nav;
  @extend .nav-pills;
  margin-top: 8px;
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
  }
  .caret {
    margin-top: 8px;
  }
}

div.search-select {
  .selected-items {
    float: left;
    div {
      float: left;
      margin-right: 5px;
      a {
        color: white;
      }
    }
  }
  .select-input-group {
    height: 100%;
    overflow: hidden;

    .select-input {
      float: left;
      width: calc(100% - 20px);
    }
    input#search_val {
      border: none;
      outline: none;
      width: 100%;
    }
    .caret {
      float: right;
      margin-top: 10px;
    }
  }

  .dropdown-menu {
    top: 90%;
    left: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}